* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    color: black;
    scroll-behavior: smooth;
}

::-moz-selection {
    background-color: black;
    color: white;
}

::selection {
    background-color: black;
    color: white;
}

.arrow-container {
    margin: 10px 0 0 10px;
}

.arrow {
    padding: 5px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.brand-logo {
    width: 200px;
    height: 200px;
}

.login-title {
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.card-divider {
    width: 80%;
    margin: 0 auto;
}

.card-holder {
    padding: 20px;
    border: 2px solid black;
    width: 400px;
    position: absolute;
    top: 150px;
}

.text-container {
    margin-top: 10px;
}

.text {
    font-size: 20px;
    font-weight: 700;
}

.input-container {
    margin-top: 6px;
}

.input {
    font-size: 16px;
    padding: 5px 5px 5px 0;
    width: 100%;
}

.input:focus {
    border: 1px black solid;
}

.forgot-password-container {
    margin-top: 10px;
}

.forgot-password {
    font-size: 13.5px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.forgot-password:hover {
    text-decoration: underline;
}

.create-new-account-container {
    margin-top: 10px;
    text-align: center;
}

.create-new-account {
    font-size: 13.5px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.create-new-account:hover {
    text-decoration: underline;
}

.log-in-button-container {
    margin: 20px 0 0 0;
    text-align: center;
}

.log-in-button {
    padding: 5px 20px 5px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
    }

    .brand-logo {
        width: 150px;
        height: 150px;
    }

    .card-holder {
        max-width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .brand-logo {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 440px) {
    .card-holder {
        max-width: 300px;
    }
}