* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    color: black;
    scroll-behavior: smooth;
}

::selection {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 19px;
}

@supports(scrollbar-color: black white) {
    * {
        scrollbar-color: black white;
    }
}

.arrow-container {
    margin: 10px 0 0 10px;
}

.arrow {
    padding: 5px;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

body {
    background-image: url(https://img.freepik.com/premium-vector/gray-silver-wave-abstract-background_29865-1260.jpg?w=996);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container {
    display: flex;
    align-items: center;
}

.brand-logo {
    width: 200px;
    height: 200px;
}

.login-title {
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.card-divider {
    width: 80%;
    margin: 0 auto;
}

.card-holder {
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.text-container {
    margin-top: 10px;
}

.text {
    font-size: 20px;
    font-weight: 700;
}

.input-container {
    margin-top: 6px;
}

.input {
    font-size: 16px;
    padding: 5px 5px 5px 0;
}

.input:focus {
    border: 1px black solid;
}

.forgot-password-container {
    margin-top: 10px;
}

.forgot-password {
    font-size: 13.5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.forgot-password:hover {
    text-decoration: underline;
}

.create-new-account-container {
    margin-top: 10px;
    text-align: center;
}

.create-new-account {
    font-size: 13.5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.create-new-account:hover {
    text-decoration: underline;
}

.log-in-button-container {
    margin: 20px 0 0 0;
    text-align: center;
}

.log-in-button {
    padding: 5px 20px 5px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}